@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pelo Brasil e pelo Mundo<br />
    Home Office<br />
    <abbr title="Phone">P:</abbr>
    +555 0000-0000
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">suporte@pamela.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@pamela.com</a>
</address>