@{
    ViewBag.Title = "Olá! :)";
}

<div class="jumbotron">
    <h1>Produtos de Qualidade</h1>
    <p class="lead">Aprendendo ASP.NET MVC, HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GITHUB</h2>
        <p>
            Veja Meus Projetos...
        </p>
        <p><a class="btn btn-default" href="https://github.com/PamelaRondina">GitHub &raquo;</a></p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>LINKEDIN</h2>
        <p>

            Clique e saiba mais....
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/pamelarondina/">Linkedin &raquo;</a></p>
    </div>
</div>