@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">Bloqueada.</h1>
    <h2 class="text-danger">Esta conta foi bloqueada, tente novamente mais tarde.</h2>
</hgroup>
