@using Pam.AppMvc.Extensions
@model IEnumerable<Pam.AppMvc.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h1><b>@ViewBag.Title</b></h1>
<hr />

@{
    if (this.PermitirExibicao("Produto", "Adicionar"))
    {
        <p>
            <a class="btn btn-info" href="@Url.Action("Create", "Produtos")">
                Novo Produto
            </a>
        </p>
    }
}


@Html.Partial("_ListaProdutos")