@{
    ViewBag.Title = "Redefinir confirmação de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua senha foi redefinida. @Html.ActionLink("clique aqui para fazer logon", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
