@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Account Law</h1>
    <p class="lead">Solução de gestão financeira para escritórios e departamentos jurídicos.</p>
    <p><a href="https://accountlaw.com.br/" class="btn btn-info">Visitar Site &raquo;</a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nossas redes</h2>
        <p>
            Acompanhe nossa trajetória pelo Instagram.
        </p>
        <p><a class="btn btn-default" href="https://www.instagram.com/accountlawoficial/">Instagram &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Acompanhe nossa trajetória pelo Linkedin.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/company/accountlaw/">Linkedin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Acompanhe nossa trajetória pelo Facebook.</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/accountlawoficial">Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Acompanhe nossa trajetória pelo Youtube.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/channel/UCs56WDx0cRPTTOp1nnMZulg">Youtube &raquo;</a></p>
    </div>


</div>