@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Deseja falar com um especialista?<br />
    <abbr title="Phone">P:</abbr>
    11 99288-9082
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:contato@accountlaw.com.br">contato@accountlaw.com.br</a><br />
</address>